:root {
  --primary-color: #4256c5;
  --secondary-color: #ca773f;
  --dark-text: #525252;
  --dark-background: #272727;
  --light-background: #FFF;
  --white-text: #FFF;
  --off-white-text: #EAEAEA;
  --standard-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

* {
  overflow-x: hidden;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

.setting {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--dark-background);
  width: 100px;
  height: 35px;
  border-radius: 8px;
  margin: 8px;
}

.setting:hover {
  cursor: pointer;
  box-shadow: var(--standard-shadow);
}

.setting.selected {
  background: var(--dark-background);
  color: white;
}