:root {
  --primary-color: #4256c5;
  --secondary-color: #ca773f;
  --dark-text: #525252;
  --dark-background: #272727;
  --light-background: #FFF;
  --white-text: #FFF;
  --off-white-text: #EAEAEA;
  --standard-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

* {
  overflow-x: hidden;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button:focus {
  outline: none;
}

html, body {
  margin: 0;
  padding: 0;
}

.app-wrapper {
  display: flex;
  width: 100vw;
  flex-direction: column;
  padding: 16px;
}

.settings {
  display: flex;
  flex-direction: row;
}

.setting {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 70px;
  border-radius: 8px;
  font-size: 18px;
  border: none;
  margin: 8px;
  transition: all .1s ease-in-out;
}

.setting:hover {
  cursor: pointer;
  box-shadow: var(--standard-shadow);
}

.setting.selected {
  background: var(--dark-background);
  color: white;
}

#local-numbers, #us-numbers {
  width: 100vw;
  display: grid;
  grid-template-columns: 230px 230px 230px;
  grid-template-rows: 100px 100px;
}

.number {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 70px;
  font-size: 18px;
  color: var(--light-background);
  background: var(--dark-background);
}

#news {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 70wv;
}

.news-article {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  padding: 16px 8px;
  max-width: 600px;
  transition: all .1s ease-in-out;
  text-align: right;
}

.news-article:hover {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.news-img {
  width: 164px;
  height: auto;
  margin: 0 8px;
  border-radius: 6px;
}