:root {
  --primary-color: #4256c5;
  --secondary-color: #ca773f;
  --dark-text: #525252;
  --dark-background: #272727;
  --light-background: #FFF;
  --white-text: #FFF;
  --off-white-text: #EAEAEA;
  --standard-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

* {
  overflow-x: hidden;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button:focus {
  outline: none;
}

html, body {
  margin: 0;
  padding: 0;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 100vw;
}

.settings {
  display: flex;
  flex-direction: row;
}

.setting {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 50px;
  border-radius: 8px;
  font-size: 1rem;
  border: none;
  margin: 8px;
  transition: all .1s ease-in-out;
}

.setting:hover {
  cursor: pointer;
  box-shadow: var(--standard-shadow);
}

.setting.selected {
  background: var(--dark-background);
  color: white;
}

.data-wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
}

#local-numbers, #us-numbers {
  width: 100vw;
  display: grid;
  grid-template-columns: 230px 230px;
  grid-template-rows: 100px 100px 100px;
}

.number {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  font-size: 18px;
  color: var(--dark-text);
  background: rgb(236, 236, 236);
}

#news, #science {
  display: grid;
  width: 100%;
  grid-template-columns: 40% 40%;
}

.news-article, .science-article {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  padding: .8rem;
  margin: 8px 0;
  max-width: 70vw;
  border-radius: 5px;
  transition: all .3s ease;
}

.news-link {
  color: var(--dark-text);
  font-size: 18px;
  max-width: 200px;
  margin-left: 24px;
}

.news-article:hover {
  background: rgb(236, 236, 236);
}

.news-img {
  width: 164px;
  height: auto;
  margin: 0 8px;
  border-radius: 6px;
}

/* FOOTER STYLES */
#footer {
  display: flex;
  flex-direction: row;
  height: 250px;
  padding: 1.5% 0 0 12%;
  background-color: var(--dark-background);
  width: 100vw;
  line-height: 1.5;
}

#copyright {
  background-color: var(--dark-background);
  width: 100vw;
  height: 50px;
  text-align: center;
  color: var(--white-text);
}

.footer-column {
  display: flex;
  flex-direction: column;
  margin: 0 32px;
  flex-grow: 1;
  max-width: 150px;
}

.footer-column__header {
  font-size: 14pt;
  color: var(--white-text);
  font-weight: bold;
}

.footer-column__link {
  font-size: 12pt;
  color: var(--off-white-text);
}