@media only screen and (max-width: 600px)
and (orientation: portrait) {
  .app-wrapper {
    padding: 8px;
  }
  .data-wrapper {
    flex-direction: column;
  }
  .setting {
    margin: 12px 4px;
  }
  .article-link {
    margin-left: 16px;
  }
  .article {
    padding: 0;
    max-width: none;
    margin: 0 0 32px 0;
  }
  .number {
    width: 100%;
    height: 64px;
    margin: 4px 0;
  }
  #news, #science {
    grid-template-columns: 100%;
  }
  #local-numbers, #us-numbers {
    grid-template-columns: 95%;
    grid-template-rows: none;
  }
  #footer {
    padding: 1.5% 0;
  }
}